<!DOCTYPE html>
<html>
<head>
{% extends "layout.html" %}
</head>
{% block content %}

<body>

  <h1>About Secret Underground</h1>

  <p>
  PSSSSST! We've got some secrets to share with you... Sometimes the best bars aren't always the most well known and London is filled with such hidden gems; whether they're bars, clubs or pubs. If you're looking to avoid the popular grind of London's busy venues then take a peek at our collection of the best hidden bars in London. Taking you off the beaten track, delving into fridges and stepping behind mirrors, these top secret London bars are some of the most unique places to drink in London.
  <a href="https://jazzy9.github.io/underground/About.html"> Find out more about us</a>
  <br>
  <br>

  <p>Follow Us:
  <br>
    <span class="social-button">
      <a href="http://www.twitter.com/">
        <img src="..static/insta.png">
      </a>
    </span>
      <span class="social-button">
        <a href="http://www.instagram.com/">
          <img src="..static/insta.png">
        </a>
      </span>
  </p>

</body>

{% endblock content %}

</html>
