<!DOCTYPE html>
<html>
<head>
{% extends "layout.html" %}
</head>
{% block content %}

<body>

  <h1>About Secret Underground</h1>

  <p>
  Here are some tweets about latest London  secret bars
  <br>
  <br>

  <p>Follow Us:
  <br>
    <span class="social-button">
      <a href="http://www.twitter.com/">
        <img src="..static/insta.png">
      </a>
    </span>
      <span class="social-button">
        <a href="http://www.instagram.com/">
          <img src="..static/insta.png">
        </a>
      </span>
  </p>

</body>

{% endblock content %}

</html>
